.portfolio-title {
    color: #364760;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 58px;
}

.edit,
.sort,
.sort__by {
    display: inline-block;
}

.edit {
    display: inline-block;
    max-height: 20px;
    min-width: 97px;
    width: 48%;
}

.sort {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    padding: 5px;
    vertical-align: bottom;
    text-align: end;
    width: 49%;
}

.sort__by {
    min-width: 34.875px;
    text-align: center;
    width: 5%;
}

.sort__by--selected {
    background-color: #444c63;
    border: 1px solid #444c63;
    border-radius: 3px;
    color: #ffffff;
    font-weight: bold;
}

.tooltip {
    display: inline-block;
    margin-top: -7px;
}

.separator {
    border: 0.5px solid #f3f3f3;
    display: inline-block;
    vertical-align: top;
    width: 94.5%;
}

.portfolio {
    display: grid;
    grid-template-rows: 176px 176px 176px;
    grid-template-columns: auto;
    grid-column-gap: 25px;
    grid-row-gap: 10px;
}

.portfolio__item {
    height: 100%;
    width: 100%;
}

.portfolio__item--stretched {
    grid-column-start: 1;
    grid-column-end: 6;
}
