body {
    font-family: 'Open Sans', sans-serif;
}

main {
    margin-top: 56px;
    margin-left: 189px;
    padding-left: 9px;
}

.header {
    padding-top: 23px;
    position: fixed;
    top: 0;
    right: 0;
    width: 84%;
}

.header__searchbox {
    display: inline-block;
    width: 62%;
}

.searchbox__lupa {
    display: inline-block;
    min-width: 13px;
    padding-right: 2%;
}

.searchbox__text {
    width: 84%;
    border: none;
    font-size: 1.1em;
}

.searchbox__text::placeholder {
    color: #b6bdd2;
    font-weight: 300;
    font-size: 14px;
    line-height: 58px;
    font-family: "Open Sans", sans-serif;
}

.profile {
    text-decoration: none;
    color: #364760;
    vertical-align: text-bottom;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
}

.control-panel {
    display: inline-block;
    text-align: end;
    width: 31%;
}

.notification {
    margin-right: 5%;
}

.sidebar {
    background-color: #444c63;
    height: 100%;
    padding-left: 1%;
    padding-top: 2%;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 166.906px;
    width: 13%;
}

.sidebar__item {
    color: #8692b2;
    height: 7%;
    padding-top: 10%;
}

.sidebar__item > img {
    padding-right: 12%;
}

.sidebar__item--selected {
    color: #ffffff;
}

.item__title {
    vertical-align: top;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.count {
    display: inline-block;
    vertical-align: top;
    margin-left: 15%;
    border: 1px solid #8692b2;
    border-radius: 3px;
    width: 10%;
    text-align: center;
    line-height: 1;
    padding: 1px;
    box-sizing: border-box;
    color: #00b5f9;
    font-size: 14px;
}

.logo {
    width: 31%;
    margin: auto;
    margin-bottom: 20px;
}
